{% extends "index.jinja" %}
{% block content %}

    <div style="width: 300px; height: 600px; border-radius: 10px; background-color: lightgrey">
        <form action="." method="post" method="post" name="blog" enctype="multipart/form-data" target="upload_frame" id="uploader">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form.as_p() }}
            <input type="submit" value="send" >
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
{#        <form action="." method="post" name="text">#}
{#            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
{#                <div>#}
{#                    <b>{{ request.user.username }}</b>, says:#}
{#                </div>#}
{#                <hr>#}
{#                <div>#}
{#                {{ form.cleaned_data['text'] }}#}
{#                </div>#}
{#            <p>{{ value|date }}</p>#}
{#                {% for post in posts %}#}
{#                    <h2>{{ post.title }}</h2>#}
{#                    <p>{{ post.timestamp }}</p>#}
{#                    <p>{{ post.body }}</p>#}
{#                {% endfor %}#}
{#        </form>#}
        <form action="." method="post" name="txt">

        </form>
    </div>



{% endblock %}